[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=ThinLinc Client
Name[de]=ThinLinc-Client
Name[es]=Cliente ThinLinc
Name[fr]=Client ThinLinc
Name[it]=Client ThinLinc
Name[nl]=ThinLinc Client
Name[pt_BR]=Cliente Thinlinc
Name[ru]=Клиент ThinLinc
Name[sv]=ThinLinc-klient
Name[tr]=ThinLinc İstemcisi
Comment=Connect to a ThinLinc server
Comment[de]=Mit einem ThinLinc-Server verbinden
Comment[es]=Conéctese a un servidor ThinLinc
Comment[fr]=Connexion à un serveur ThinLinc
Comment[it]=Connettiti a un server ThinLinc
Comment[nl]=Verbinding maken met een ThinLinc-server
Comment[pt_BR]=Conectar a um servidor ThinLinc
Comment[ru]=Подключение к серверу ThinLinc
Comment[sv]=Anslut till en ThinLinc-server
Comment[tr]=Bir ThinLinc sunucusuna bağlan
TryExec=/opt/thinlinc/bin/tlclient-openconf
Exec=/opt/thinlinc/bin/tlclient-openconf %f
Icon=/opt/thinlinc/lib/tlclient/tlclient.svg
Terminal=false
Type=Application
Categories=Application;Network;RemoteAccess;
StartupNotify=false
MimeType=application/vnd.cendio.thinlinc.clientconf;
