alias source=.

alias sudo='sudo '
alias fuck='sudo $(fc -ln -1) '

alias cp='cp -i'
alias free='free -h'
alias df='df -h'
alias zj='zellij'
alias zjl='zellij --layout lat'
alias lg='lazygit'

alias ls='eza -ah'
alias ll='ls -l'

alias grep='grep --color=auto'
alias egrep='egrep --color=auto'
alias fgrep='fgrep --color=auto'

alias lat='cd "$PROJECTS_DIR/latent-features"'
alias venvdata='poetry shell -C "$PROJECTS_DIR/latent-features"'
alias latshell='lat && venvdata'

alias vim='nvim'
