layout {
	cwd "$PROJECTS_DIR/latent-features"

	pane_template name="latshell" {
		command "fish"
		args "-c" "source $PROJECTS_DIR/latent-features/.venv/bin/activate.fish; fish"
		close_on_exit true
	}

	pane_template name="lazygit" {
		command "fish"
		args "-c" "source $PROJECTS_DIR/latent-features/.venv/bin/activate.fish; lazygit; fish"
		close_on_exit true
	}

	pane_template name="status" stacked=true {
		pane command="btm" close_on_exit=true
		pane command="nvtop" close_on_exit=true
	}
	
	default_tab_template  {
		pane split_direction="vertical" {
			latshell {
				focus true
				size "70%"
			}
			pane split_direction="horizontal" {
				status {
					size "30%"
				}
				lazygit
				children
			}
		}
	}

	tab
	
	swap_tiled_layout {
		tab max_panes=2 {
		}
		tab max_panes=3 {
			pane
		}
	}

    swap_floating_layout {
        floating_panes {
            pane x="10%" y="10%" width="80%" height="80%"
        }
    }
}

keybinds {
	shared {
		bind "Alt g" { 
			Run "lazygit" {
				floating true
				close_on_exit true
			}
		}
		bind "Alt f" {
			Run "broot" "-gI" {
				floating true
				close_on_exit true
			}
		}
	}
}
